.back_lzx{
   height:1.2rem;

}

.am-navbar-light{
        color: #222
    }
.am-navbar{
    height:1.2rem;
    .am-navbar-title{
        font-size: 0.4rem;
    }

    .am-icon-md{
        width: 0.506667rem;
        height: 0.506667rem;
    }
}