html,body{
    height:100%;
    margin:0;
    padding:0;
}

.am-tab-bar-bar{
    height:1.333333rem;
    .am-tab-bar-tab{
        height: 1.333333rem;
    }
    .am-tab-bar-tab-image{
        width:0.506667rem;
        height:0.506667rem;
    }
    .am-tab-bar-tab-icon  div{
        width:0.506667rem;
        height:0.506667rem;
    }
    .am-tab-bar-tab-title{
        font-size: 0.32rem;
        line-height: 0.56rem;
    }
}
