*{margin:0;padding:0;}
body,html{height:100%;}
ul,li{list-style:none;}
#app{height:100%;}
#app>div{height:100%;}
.order{height:100%;display:flex;flex-direction:column;}


.order_main{
    flex:1;background:#E2E2E2;overflow-x:hidden;
    li{
        margin:0.333333rem 0.133333rem;background:#fff;padding:0.133333rem;
        h4{
            span{
                line-height:0.8rem;font-size:0.4rem;
                span{padding: 0 0.133333rem;}
            }
            &>span:nth-child(2){
                float:right;font-size:0.38rem;
                padding: 0 0.2rem;
            }
            .unpaid{color:red;}
            .waitDelivery{color:#1CD467;}

        }
        .proDetails{
            display: flex;padding:0 0.133333rem;border-bottom:0.001333rem solid #ccc;
            img{
                flex:1;height:1.666667rem;margin:0.066667rem 0;
            }
            .proName{flex:4;padding-left: 0.266667rem;}
            .proPrice{flex:1;text-align: right;}
            p{font-size: 0.373333rem;line-height:1.666667rem;}
        }
        .orderTime{text-align: right;font-size: 0.32rem;line-height: 1rem;}

    }



}

.order_footer{background:#fff;}

