.paycash_ly{
	display: flex;flex-direction:column;background:#efefef;height: 100%;
	.payHeader{
		font-size:0.43rem;line-height: 1.066667rem;font-weight: bold;z-index:100;
		background:#fff;box-shadow: 0 0 5px #ccc;display: flex;
		.payBack{
			flex:1;text-align: center;
			i{font-size:0.4rem;}
		}
		.payHeaderTitle{
			flex:9;text-align: left;padding-left: 0.4rem;
		}
	}
	.cash_body{
		flex:1;overflow-x: hidden;
		.ordersList{
			li{
				background:#fff;margin:0.266667rem 0.133333rem 0;padding:0.133333rem;box-shadow:0 0.026667rem 0.04rem #aaa;
				.orderTitle{font-size: 0.36rem;line-height: 0.64rem;}
				.deliveryC{
					font-size: 0.4rem;line-height: 0.88rem;border-bottom: 0.013333rem solid #ccc;
					span{padding:0 0.2rem;}
					.orderPrice{
						float: right;
					}
				}
				.orderGoods{
					display: flex;border-bottom: 0.013333rem solid #ccc;
					&>div:first-child{
						flex:3;
						font-size: 0.426667rem;line-height: 2.0rem;
					}
					&>div:last-child{
						flex:9;line-height: 2.0rem;
						img{width: 1.0rem;margin-left:0.266667rem;}
					}
				}
				
				.delivery_addr{font-size:0.373333rem;}
			}
		}
	}
	.payFoot{
		padding: 0.2rem 0;background:rgba(255,255,255,.8); display: flex;
		.payBtn{
			flex:3;
			line-height: 1.2rem;text-align: center;color:#fff;background:#222222;
			font-size: 0.4rem;font-weight: bold;border-radius: 0.133333rem;margin: 0 0.1rem;
			span{
				padding:0 0.2rem;
			}
		}
		.seeMore{
			flex:1;
			line-height: 1.2rem;text-align: center;color:#fff;background:#1CD467;
			font-size: 0.4rem;font-weight: bold;border-radius: 0.133333rem;margin: 0 0.1rem;
		}
	}
}