.category{
     display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;width:100%;height:100%;
}




.am-tabs-default-bar-tab{
    height:1.146667rem;
    
}
.am-tabs-default-bar-tab{
            font-size: 0.373333rem;
            color:#AAAAAA;
    }
.am-tabs-default-bar-tab-active{
    color:#000000
}
.am-list-item{
    min-height:1.2rem;
}
.am-list-item .am-list-line .am-list-content{
     font-size: 0.413333rem;
}
.am-list-item .am-list-line .am-list-arrow{
    width: 0.293333rem;
    height: 0.293333rem;
}