.mui-bar{
    height:1.173333rem;
    line-height: 1.173333rem;
    background-color:#fff;
        .mui-btn-link{
            height:1.173333rem;
            line-height: 1.173333rem;
            font-size: 0.373333rem;

        }
        .mui-title{
            line-height: 1.3rem;
            font-size: 0.4rem;
            font-weight: 100;
            font-family: 'Helvetica Neue',Helvetica,sans-serif; 
    
        }
        .mui-icon{
            height:1.173333rem;
            line-height: 1rem;
            font-size: 0.506667rem;

        }

}
.mui-bar-nav~.mui-content{
    padding-top: 1.173333rem;

}


.mui-search .mui-placeholder{
        height:1.426667rem;
        line-height: 1.426667rem;
        font-size: 0.466667rem;
}
.mui-search .mui-placeholder .mui-icon{
    font-size: 0.466667rem;
}
.mui-input-row .mui-input-clear~.mui-icon-clear{
    font-size: 0.466667rem;
}
input[type=search]{
     height:1.426667rem;
     font-size: 0.4rem;
}
.mui-table-view{
    .mui-indexed-list-group{
        height: 1.173333rem;
        font-size: 0.293333rem;
        line-height: 1.173333rem;
    }
}
.mui-indexed-list-bar{
    background-color:#fff;
    color:#888888;
    a{
        font-size: 0.266667rem;
    }
}
.mui-table-view-cell.mui-checkbox.mui-left, .mui-table-view-cell.mui-radio.mui-left{
    line-height: 1.173333rem;
    font-size: 0.333333rem;
    color: #222;
    padding-left:0.88rem;
}
.mui-table-view-cell.mui-checkbox input[type=checkbox], .mui-table-view-cell.mui-radio input[type=radio]{
    top: 0.5rem;
    left:0.266667rem;
}
.mui-checkbox input[type=checkbox]:before, .mui-radio input[type=radio]:before{
    font-size: 0.5rem;
}